[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[dev-packages]

[packages]
pyyaml = "==3.13"
pymongo = "==3.7.2"
scorum = {editable = true, ref = "v0.0.1", git = "https://github.com/scorum/scorum-py.git"}

[requires]
python_version = "3.5"
